.chat
  .side
    .side-bar
      山本 惇
      %div.i.fa.fa-pencil-square-o
      %div.i.fa.fa-cog
    .side-bar__bottom
      .group__name group1
      .group__name_men メンバー１
      .group__name2 group2
      .group__name_men2  メンバー2
  .chat__area
    .chat__right_area
      .edit__botton edit
      .sampleG groupname
      .sampleG__under yamamoto
    .chat__right_area_bottom
      %p.u__name name
      %p.u__data_time 1890/06/05
      %p.u__messege messege
    .white__messege_box
      .input_messege type a messege
      .send__messege_box send
      .pic
