.chat
  .side
    .side-bar
      %p.name yamamoto
      = link_to "#" do
        %p.i.fa.fa-cog
      = link_to "#" do
        %p.i.fa.fa-pencil-square-o
    .side-bar__bottom
      %p.group group1
      %p.group__men メンバー１
      %p.group group2
      %p.group__men メンバー2
  .chat__area
    .chat__area__right
      .edit__botton edit
      .sampleG groupname
      .sampleG__under yamamoto
    .chat__area_right_bottom
      %p.u__name name
      %p.u__data_time 1890/06/05 08:00:00
      %p.u__messege messege
    .white__messege_box
      .div__a
        / %input.messege{:placeholder =>"type a messege" , :type => "text"}/
        %form{:action => "", :method => "post"}
        %p
        %input{:maxlength => "20", :messege => "“messege”", :size => "40", :type => "text"}/
        = link_to "#" do
          %p.i.fa.fa-picture-o
        .send__messege_box send

/ "cgi-bin/abc.cgi"