
.side-bar {
   background-color: #253241;
   height: 100px;
   width: 300px;
   color: white;
   font-size: 16px;
   font-weight: bold;
   line-height: 100px;
   text-align: left;


&__bottom {
      width: 300px;
      height: calc(100vh - 130px);
      background-color: #2f3e51;
      　
    }
  }

  ul {
   height: 100%;
 }


  .textplace {
   background-color: #38AEF0;
   height: 100px;
   width: 300px;
   font-size: 16px;
   font-weight: bold;
   line-height: 100px;
   float: left;

  &__bottom {
      width: calc(100vh - 300px);
      height: calc(100vh - 130px);
      background-color: #AAAAAA;
      text-align: left;
    }
  }

     .groupname {
      font-size: 15px;
      padding-top: 20px;
      color: #FFFFFF;
    }

    .groupname_men {
      font-size: 11px;
      padding-top: 5px;
      padding-bottom: 40px;
      color: #FFFFFF;
    }

    .groupname2 {
      font-size: 15px;
      padding-top: 20px;
      color: #FFFFFF;
    }

    .groupname_men2 {
      font-size: 11px;
      padding-top: 5px;
      padding-bottom: 40px;
      color: #FFFFFF;
    }




